
body{
    background-color: rgb(71, 70, 70);
    font-family: arial;
}
h1 {
    color: rgb(241, 241, 241);
    font-family: arial;
}
h2 {
    color: aliceblue;
    font-family: arial;
}
p {
    color: aliceblue;
    font-family: arial;
    text-align: justify;
}